<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/frag :: head"></head>
<body>
<!-- ***** Preloader Start *****-->
<!--<div th:replace="layout/frag :: preloader"></div>-->
<!-- ***** Preloader End *****-->

<!-- Header -->
<header class=""    >
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href=""><h2>Car Dealer <em>Website</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Home</a>
          </li>

          <li class="nav-item active"><a class="nav-link" href="cars">Cars</a></li>

          <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>

          <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(/images/heading-6-1920x500.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img th:src="@{${vehicle.getImg()}}" alt="" class="img-fluid wc-image">
        </div>
        <br>
        <div class="row">
          <div th:each="images: ${gallery}" class="col-sm-4 col-6">
            <div>
              <img th:src="@{${images.img}}" alt="" class="img-fluid">
            </div>
            <br>
          </div>
          <div>
            <a href="/add/images" class="btn float-right">
              <i class="fas fa-plus-circle"></i> Add image</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <form action="#" method="post" class="form">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Make</span>

                <strong class="pull-right" th:text="${info.getVehicleMake()}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Model</span>

                <strong class="pull-right" th:text="${info.getVehicleModel()}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Year</span>

                <strong class="pull-right" th:text="${info.getVehicleYear()}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Using</span>

                <strong class="pull-right" th:text="${info.getVehicleType()}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Engine size</span>

                <strong class="pull-right" th:text="${info.getVehicleEngine()}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Power</span>

                <strong class="pull-right" th:text="${info.getVehicleHorsepower()}"></strong>
              </div>
            </li>


            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Gearbox</span>

                <strong class="pull-right">Manual</strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Number of seats</span>

                <strong class="pull-right" th:text="${info.seat}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Color</span>

                <strong class="pull-right" th:text="${info.color}"></strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Price</span>

                <strong class="pull-right" style="margin-left: 3px" >$</strong>
                <strong class="pull-right" th:text="${info.price}"></strong>

              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-heading">
          <h2>Vehicle Description</h2>
        </div>

        <div class="left-content">
          <p>- Colour coded bumpers<br>
            - Tinted glass<br>
            - Immobiliser<br>
            - Central locking
            - remote<br>
            - Passenger airbag<br>
            - Electric windows<br>
            - Rear head rests<br>
            - Radio<br>
            - CD player<br>
            - Ideal first car<br>
            - Warranty<br>
            - High level brake light<br></p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section-heading">
          <h2>Vehicle Extras</h2>
        </div>

        <div class="left-content">
          <p>- ABS <br>
            -Leather seats <br>
            -Power Assisted Steering <br>
            -Electric heated seats <br>
            -New HU and AU <br>
            -Xenon headlights</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-heading">
          <h2>Contact Details</h2>
        </div>

        <div class="left-content">
          <p>
            <span>Name</span>

            <br>

            <strong>Rinowo</strong>
          </p>

          <p>
            <span>Phone</span>

            <br>

            <strong>
              <a href="tel:84 369 122 828">369 122 828</a>
            </strong>
          </p>

          <p>
            <span>Mobile phone</span>

            <br>

            <strong>
              <a href="tel:+84 369 122 828">369 122 828</a>
            </strong>
          </p>

          <p>
            <span>Email</span>

            <br>

            <strong>
              <a href="mailto:CarDealer@Gmail.com">CarDealer@Gmail.com</a>
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" roles="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" roles="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="contact-form">
          <form action="#" id="contact">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Pick-up location" required="">
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Return location" required="">
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Return date/time" required="">
                </fieldset>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Enter full name" required="">

            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter email address" required="">
                </fieldset>
              </div>

              <div class="col-md-6">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter phone" required="">
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="layout/frag :: footer"></div>

<div th:replace="layout/frag :: script"></div>
</body>
</html>